@import '../assets/sass/vendors/response';

h1 {
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;

	@include response(md) {
		font-size: 36px;
	}
}

.black-line {
	width: 36px;
	height: 1px;
	background-color: #000000;
	display: inline-block;

	@include response(md) {
		width: 72px;
	}

	& + p {
		font-family: 'Exo 2', sans-serif;
		font-size: 12px;
		margin-bottom: 12px;
		line-height: 1.4em;

		@include response(md) {
			font-size: 17px;
		}

		& > span {
			font-weight: bold;
		}
	}
}