@import '../assets/sass/vendors/response';

.confirm-open-container {
  padding: 28px;

  .button-wrapper {
    margin: 20px;
    padding: 0;

    @include response(md) {
      margin-top: 0;
      padding-top: 20px;
    }
  }


  img {
    width: 50px;

    @include response(md) {
      width: 100px;
      margin-top: 20px;
    }
  }

}
