@import '../assets/sass/vendors/response';

.login-container {
	color: #ffffff;

	img {
		width: 118px;
		margin: 3em 0 0;
	}

	h1 {
		margin-bottom: 1em;
		font-size: 1.5em;
	}

	.under-line-blue {
		position: relative;
		display: inline-block;
		width: 3em;
		height: 2px;
		background-color: #039cbf;
		margin-bottom: 1em;
	}

	p {
		font-size: 11px;
		font-weight: 100;

		@include response(md) {
			font-size: 17px;
		}
	}

	input {
		width: 100%;
		border-radius: 5px;
		color: #000000;
		font-style: italic;
		height: 33px;
		border: 1px solid #039cbf;
		padding: 0 2em;
		max-width: 560px;
	}
}