@import '../assets/sass/vendors/response';

.login-container {
	color: #ffffff;

	img {
		width: 118px;
		margin: 0;
	}

	h1 {
		font-size: 20px;

		@include response(md) {
			font-size: 36px;
		}
	}

	.under-line-blue {
		position: relative;
		display: block;
		width: 3em;
		height: 1px;
		background-color: #039cbf;
		margin: 18px auto;

		@include response(md) {
			margin: 36px auto;
		}
	}

	p {
		font-size: 11px;
		font-weight: 200;
		margin: 18px auto;

		@include response(md) {
			font-size: 17px;
			margin: 36px auto;
		}
	}

	input, textarea {
		width: 100%;
		border-radius: 5px;
		color: #000000;
		height: 44px;
		border: 1px solid #039cbf;
		padding: 0 2em;
		max-width: 760px;
		font-size: 14px;
		font-family: 'Noto Sans KR', sans-serif;
	}

	textarea {
		padding: 7px 21px;
		height: 58px;

		@include response(md) {
			height: 44px;
			font-size: 17px;
		}
	}

	.error {
		color: #eb3e67;
	}
}