@import '../assets/sass/vendors/response';

:lang(ko), :lang(zh), :lang(en) {
	.blue-button {
		font-weight: 500;
	}
}

.blue-button {
	min-width: 60px;
	border-radius: 20px;
	border: 2px solid #039cbf;
	transition: all 0.3s ease-in-out;
	background-color: transparent;
	color: #039cbf;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	padding: .375rem .75rem;
	line-height: 1.5;

	&.big {
		min-width: 156px;
		border-radius: 32px;
		padding: 5px 10px 6px;

		@include response(md) {
			min-width: 233px;
			padding: 9px 16px 8px;
			border-radius: 45px;
			font-size: 17px;
		}
	}

	&.medium {
		min-width: 85px;
		font-size: 12px;
		border-radius: 27px;
		padding: 4px 8px 5px;

		@include response(md) {
			min-width: 159px;
			padding: 9px 16px 8px;
			font-size: 17px;
			border-radius: 45px;
		}
	}

	&.small {
		font-size: 12px;
		min-width: 100px;
		padding: 0;
		border-radius: 20px;
		margin: 0 0.5em;
	}

	&.tiny {
		font-size: 12px;
		min-width: 46px;
		padding: 0;
		border-radius: 14px;

		@include response(md) {
			min-width: 72px;
			padding: 2px 2px;
			border-radius: 30px;
			font-size: 14px;
		}
	}

	&:hover {
		background-color: #039cbf;
		color: #ffffff;

		&.non-action {
			background-color: transparent;;
			color: #039cbf;
		}
	}

	&.filled {
		background-color: #039cbf;
		color: #ffffff;

		&:hover {
			background-color: transparent;
			color: #039cbf;

			&.non-action {
				background-color: #039cbf;
				color: #ffffff;
			}
		}
	}
}

/*
	different padding for 2byte character
 */
:lang(ko), :lang(zh) {
	.blue-button {
		&.big {
			padding: 5px 10px 6px;

			@include response(md) {
				padding: 8px 16px 9px;
			}
		}

		&.medium {
			padding: 4px 8px 5px;

			@include response(md) {
				padding: 8px 16px 9px;
			}
		}

		&.small {
			padding: 0 0 1px;
		}

		&.tiny {
			padding: 0 0 1px;

			@include response(md) {
				padding: 2px 2px 3px;
			}
		}
	}
}