@import '../assets/sass/vendors/response';

.header-container {
	width: 100%;
	position: relative;
	margin: auto;
	text-align: left;
}

.header-utils {
	position: absolute;
	top: 0;
	right: 0;

	a {
		color: #ffffff;
		text-decoration: none;
	}
}

.logo-image {
	width: 35px;
	position: relative;

	@include response(md) {
		width: auto;
	}
}

.see-the-full-manual {
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	text-align: right;

	@include response(md) {
		font-size: 15px;
	}

	* {
		vertical-align: middle;
	}
}

.download-icon {
	width: 18px;
	margin-left: 8px;
	position: relative;
	top: 1px;

	@include response(md) {
		width: auto;
		top: -1px;
		margin-left: 15px;
	}
}