@import '../assets/sass/vendors/response';

.balance-container {
	text-align: center;
	margin: 15px auto;

	@include response(md) {
		margin: 28px auto;
	}
}

#balance-label {
	color: #039cbf;
	font-size: 14px;
	margin: 0 0 10px;
	text-align: left;
}

#balance {
	color: #ffffff;
	text-align: center;
	font-family: 'San Francisco Display Ultralight', sans-serif;
	font-size: 42px;
	margin: 0;

	span {
		@include response(md) {
			font-size: 48px;
			margin: 0;
		}
	}

	.amount-span-decimal {
		color: #039cbf;
	}

	.unit {
		display: block;
		color: #039cbf;
		font-size: 20px;

		@include response(md) {
			display: inline-block;
			font-size: inherit;
		}
	}
}