.main-page-container {
  text-align: center;
  position: relative;
  font-family: 'Exo 2', sans-serif;
  height: 100%;
  margin-top: -74px;
  padding-top: 74px;

  .symbol-image-container {
    text-align: center;
    position: relative;
    width: 75%;
    left: 0;
    margin: 20% auto 0;
  }

  img {
    width: 100%;
  }

  p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    white-space: nowrap;
    margin: 20px 0 10px;
  }

  p + p {
    font-size: 8px;
    font-weight: 200;
    font-style: italic;
    margin: 0 0 20px 0;
  }

  .button-container {
     button {
       margin-bottom: 10px;
     }
  }

  li {
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 1em;
  }

  ol {
    width: 100%;
    padding: 10px;
    text-align: left
  }

  h2 {
    font-size: 14px;
    color: #039cbf;
    text-align: left;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 80%;
      width: 100%;
      height: 2px;
      background-color: rgba(3, 156, 191, 0.25);
    }
  }
}